body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("media/blackJack.png");
    background-size: cover;
    font-weight: bold;
    color: rgb(223, 214, 214);
    text-align: center;
}
#blackJackCard {
    background-color: rgba(69, 53, 3, 0.6);
}
#blackJack {
    color: goldenrod;
    background-color: rgba(3, 57, 57, 0.7);
}

#message-el {
    font-style: italic;
}
#new-card-el {
    margin-bottom: 15px;
}
 
button {
    color: #024420;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
    margin-top: 4px;
}